
@import './color.scss';

@font-face {
	font-family: 'PingFang SC';
	src: url('../fonts/PingFangSCRegular.woff') format('woff2'),
		 url('../fonts/PingFangSCRegular.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}


body {
	font-family: 'PingFang SC';
	background:  #1A1A1A;
	font-size: 14px;
	line-height: 22px;
	color: rgba(255, 255, 255, 0.85);

	.container {
		max-width: 1000px;
		margin: 0 auto;
	}
	
}

.header {
	padding: 48px 0px;
	background: #0D0D0D;

	.header__logo {
		cursor: pointer;
	}
	.header__title {
		padding-top: 40px;
		font-size: 60px;
		line-height: 80px;
		text-transform: capitalize;
	}

}

.alert {
	padding: 64px 0px;

		.alert__title {
			font-size: 32px;
			line-height: 48px;
		}
		.alert__subtitle {
			padding: 40px 0px 24px 0px;
			font-size: 24px;
			line-height: 36px;
		}

		.accordion__wrapper {
			max-width: 672px;
			max-height: 1120px;
			background: #1A1A1A;
			border: 1px dashed #9747FF;
			border-radius: 5px;
			padding: 0px;
			gap: 24px;
		}

		.accordion__second {
			padding: 89px 0px 153px 0px;
		}

		.accordion__item {
			margin: 16px 0px 24px 0px;
			display: flex;
			justify-content: space-between;
			max-width: 640px;
			max-height: 40px;
			padding: 9px 48px;
			gap: 8px;
			isolation: isolate;
			border-radius: 4px;
		}


		.accordion__item.first {
			background-color: $purple;
			background: rgba(144, 127, 240, 0.16);
		}

		.accordion__item.second {
			background-color: $brown;
			background: rgba(255, 166, 42, 0.16);
		}

		.accordion__item.third {
			background-color: $winered;
			background: rgba(238, 83, 71, 0.16);
		}

		.accordion__item.fourth {
			background-color: $green;
			background: rgba(60, 214, 163, 0.16);
		}

		.accordion__media {
			display: flex;
			align-items: center;
			margin: 0 auto;
		}

		.accordion__media.media__second {
			display: flex;
			justify-content: space-between;
			margin: 0px 0px 0px 0px;
		}

		.accordion__title {
		margin: 0px 8px 0px 8px;
		}		

		.accordion__action {
			color: $action;
			font-size: 12px;
			line-height: 18px;
		}

		.accordion__close {
			cursor: pointer;
		}

		.accordion__btn {
			margin-right: 16px;
			border-radius: 4px;
			width: 54px;
			height: 24px;
			padding: 4px 8px;
			color: #FFFFFF;
		}

		.btn__first {
			background: $purple;
		}

		.btn__second {
			background: $brown;
		}

		.btn__third {
			background: $winered;
		}

		.btn__fourth {
			background: $green;
		}

		.media__third {
			display: flex;
			margin: 0px 0px 0px 0px;
			
		}

		.media__content {
			display: flex;
			flex-wrap: wrap;
		}

		.third__item {
			height: 76px;
		}
}



